{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/calculator.css' %}">
<script src="{% static 'javascript/expenseTypeChecker.js' %}" type="text/javascript"></script>
<script src="https://cdn.zingchart.com/zingchart.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}

{% block content %}
<div class="page-container" id="page-body">
    {% if user.is_authenticated %}
    <div class='income-section'>
        <!--Finds income of current user-->
        <h2 class='text-center mb-3'>MONTHLY INCOME</h2>
        <div class='card mb-3'>
        {%if latest_income %}
                <div class='card-body'>
                    <p class='lead'>${{ latest_income.income_text }}</p>
                    
                    <p class='r-income'>Remaining Income: ${{ remainingIncome }}</p>
                    <p class='exp-total'>Expenses: ${{ totalExpenditureCost }}</p>
                </div>
                <form method='POST' action="{% url 'Calculator:addIncome' %}">
                    {% csrf_token %}
                    <div class='form-group'>
                        <label for='add-income'>Update Monthly Income</label>
                        <input class='form-control' id='add-income' name='income_text'>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
        
                </form>
        {% else %}
            <p>No income available</p>
            <form method='POST' action="{% url 'Calculator:addIncome' %}">
                {% csrf_token %}
                <div class='form-group'>
                    <label for='add-income'>Add Monthly Income</label>
                    <input class='form-control' id='add-income' name='income_text'>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>

            </form>
        {% endif %}
        </div>
    </div>
    <div class='expenditure-list'>
        <!--Displays a list of expenses from the current user-->
        <h2 class='text-center mb-3'>List of Expenses</h2>
        <div class='card mb-3'>
        {%if fusion %}
            {% for expenditure, hourly in fusion %}
                    <div class='card-body'>
                        <div class='exp-info'>
                            <p class='exp-name'>{{ expenditure.expenditure_text }}</p>
                            <p class='exp-cost'>${{ expenditure.expenditure_price }}</p>
                            {% if hourly != -1 %}
                                <p>${{hourly}}</p>
                            {% endif %}
                            <form method='POST' action="{% url 'Calculator:deleteExpenditure' expenditure.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-danger">Delete</button>
                            </form>
                        </div>
                    </div>
            {% endfor %}
            <form method='POST' action="{% url 'Calculator:addExpenditure' %}">
                {% csrf_token %}
                <div class='form-group'>
                    <label for='add-expenditure'>Add New Expenditure</label>
                    <input class='form-control' id='add-expenditure' name='expenditure_text'>
                </div>
                <div class='form-group'>
                    <label for='add-expenditure-price'>Cost of Expenditure</label>
                    <input class='form-control' id='add-expenditure-price' name='expenditure_price'>
                </div>
                <div class="form-group col-md-4">
                    <div id="exp-type">
                        <label for="topic_text">Type of Expense</label>
                        <select id="topic_text" class="form-control" name="topic_text">
                        <option selected>Choose...</option>
                        {% for topic in topics_list %}
                        <option>{{topic.topic_text}}</option>
                        {% endfor %}
                        </select>
                    </div>
                </div>

                <div class='form-group col-md-4' id='add-hours'>
                    <label for='add-hours'>How many hours do you spend using this service?</label>
                    <input class='form-control' id='add-hours' name='sub_hours'>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        {% else %}
            <p>No expenditure(s) available</p>
            <form method='POST' action="{% url 'Calculator:addExpenditure' %}">
                {% csrf_token %}
                <div class='form-group'>
                    <label for='add-expenditure'>Add New Expenditure</label>
                    <input class='form-control' id='add-expenditure' name='expenditure_text'>
                </div>
                <div class='form-group'>
                    <label for='add-expenditure-price'>Cost of Expenditure</label>
                    <input class='form-control' id='add-expenditure-price' name='expenditure_price'>
                </div>
                <div class="form-group col-md-4">
                    <div id="exp-type">
                    <label for="topic_text">Type of Expense</label>
                    <select id="topic_text" class="form-control" name="topic_text">
                      <option selected>Choose...</option>
                      {% for topic in topics_list %}
                      <option>{{topic.topic_text}}</option>
                      {% endfor %}
                    </select>
                    </div>
                </div>
                <div class='form-group col-md-4' id='add-hours'>
                    <label for='add-hours'>How many hours do you spend using this service?</label>
                    <input class='form-control' id='add-hours' name='sub_hours'>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        {% endif %}
        </div>
    </div>

    <div id="myChart"></div>
    {% else %}
    <h1>You must login to be able to use the calculator</h1>
    {% endif %}
</div>

<script>

    
    var state = {
        'type': [],
        'value': [],
    }

    var dataURL = `/calculator/api/data/`
    var total = 0
    $.ajax({
        method:'GET',
        url: dataURL,
        success:function(response){
            for(var i in response){
                if(i != "income"){
                state.type.push(i)
                state.value.push(response[i])
                total += response[i]
                }
            }
            for (i=0; i<state.value.length;i++){
                total += state.value[i]
            }
            state.type.push('savings')
            savings = response['income'] - total
            state.value.push(savings)
            buildChart()
        }
    })

    function buildChart() {
            var chartData = {
                "type":"bar",
                "scale-x": {
                    "values": state.type
                },
                "series": [
                    {
                        "values": state.value
                    }
                ]
            }

            zingchart.render({
            id: 'myChart',
            data: chartData,
        });
    }
</script>
{% endblock %}