.test {
    color: red;
}

.page-container {
    margin-top: 10rem;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px;
}

.btn-primary {
    background-color: #6C63FF !important;
    border: none;
}

.card {
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.income-section {
    padding-bottom: 50px;
}

.lead {
    text-align: center;
    font-size: 80px;
}

.exp-total-header { 
    font-size: 20px;
    display: inline-block;
}

.totalExp {
    text-align: right;
}

.exp-total {
    font-size: 20px;
    color: #e44e4e;
    display: inline-block;
}

.remain-in {
    margin-bottom: 20px;
}

.r-income-header {
    font-size: 20px;
    display: inline;
}
.r-income {
    font-size: 20px;
    color: #4ee44e;
    display: inline;
}
