<nav class="navbar fixed-top navbar-dark bg-dark navbar-expand-sm navbar-content">
    <a class="navbar-brand" href='/'>Valueator</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav" aria-controls="nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="nav">
    <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="/calculator/">Calculator</a>
            </li>
        {% endif %}

            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">{{ user.username }}</a>
                    <div class="dropdown-menu dropdown-menu-right">
                            {% if user.is_superuser %}
                            <a href="/admin" class="dropdown-item">Admin</a>
                            {% endif %}
                            <a href="#" class="dropdown-item" onClick="document.getElementById('logoutform').submit()">Logout</a>
                            <form id="logoutform" action="{% url 'General:logout' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden">
                            </form>
                    </div>
            </li>
    {% else %}
            <li class="nav-item">
                    <a class="nav-link" href="{% url 'General:login' %}">Login/Register</a>
            </li>
    {% endif %}

    </ul>
    </div>
</nav>